@page "/"

<div class="infoSection infoSectionBackgroundHome infoSectionBgHome">
    <div class="infoSectionContainer">
        <div class="infoSectionContentRight">
            <h1>GDG Azores</h1>
            <h2>
                Comunidade.
                <br />
                Comunicar, aprender, respeitar, partilhar.
            </h2>
        </div>
    </div>
</div>

<div class="infoSection infoSectionBackground infoSectionBgGoalsWho">
    <div class="infoSectionContainer">
        <div class="infoSectionContentLeft">
            <h1>Objetivos, quem somos</h1>
            <div class="textDivider textDividerGoalsWho"></div>
            <h2>
                Google Developer Group (GDG) Azores é uma comunidade com o objetivo de incentivar o gosto pela tecnologia, e a aprendizagem.
                <br />
                Um grupo de pessoas interessadas em aprender, partilhar aquilo que aprendemos, e ajudar a aprender novas tecnologias.
                <br />
                O espírito de entreajuda deve estar presente, assim como o respeito mútuo.
            </h2>
        </div>
    </div>
</div>


<div class="infoSection infoSectionBackground infoSectionBgWhere">
    <div class="infoSectionContainer">
        <div class="infoSectionContentRight">
            <h1>Onde estamos</h1>
            <div class="textDivider textDividerWhere"></div>
            <div>
                <div class="cardWhere">
                    <a href="https://facebook.com/GDGAzores" target="_blank"><img src="/imgs/logo-facebook.svg" class="iconsWhere" />&nbsp;Facebook</a>
                </div>
                <div class="cardWhere" style="width:100%;">
                    <a href="https://twitter.com/GDGAzores" target="_blank"><img src="/imgs/logo-twitter.svg" class="iconsWhere" />&nbsp;Twitter</a>
                </div>
                <div class="cardWhere">
                    <a href="https://github.com/GDG-Azores" target="_blank"><img src="/imgs/logo-github.svg" class="iconsWhere" />&nbsp;GitHub</a>
                </div>
                <div class="cardWhere" style="width:100%;">
                    <a href="mailto:info@gdgazores.xyz" target="_blank"><img src="/imgs/mail-open-outline.svg" class="iconsWhere" />&nbsp;info@gdgazores.xyz</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="infoSection infoSectionBackground infoSectionBgEvents">
    <div class="infoSectionContainer">
        <div class="infoSectionContentLeft">
            <h1>Eventos</h1>
            <div class="textDivider textDividerEvents"></div>
            <h2>
                Pode acompanhar os eventos que estão planeados através seguintes plataformas:
                <br />
            </h2>
            <a href="https://www.meetup.com/gdg-azores/" target="_blank" class="linkButton">Meetup ></a>
            <a href="https://gdg.community.dev/gdg-azores/" target="_blank" class="linkButton">GDG Community ></a>
        </div>
    </div>
</div>

<div class="infoSection infoSectionBackground infoSectionBgFooter">
    <div class="infoSectionContainer">
        <div class="infoSectionContentRight">
            <h1>Projeto</h1>
            <div class="textDivider textDividerFooter"></div>
            <h2>Pode encontrar este projeto no repositório do Github</h2>
            <a href="https://github.com/GDG-Azores/GDG-Azores-Home" target="_blank" class="linkButton">GitHub ></a>
        </div>
    </div>
</div>